// Colors
$validation-field-focus: #999;
$validation-field-error-color: red !default;
$validation-field-error-border-color: rgba(red, 0.6) !default;
$validation-field-success-color: green !default;
$validation-field-success-border-color: rgba(green, 0.3) !default;
$validation-field-tooltip-bg-color: #414A55 !default;

// Sizing
$validation-field-error-border-size: 2px !default;
$validation-field-success-border-size: 1px !default;

$validation-field-tooltip-font-size: 16px !default;
$validation-field-icon-font-size: 16px !default;
$validation-field-count-font-size: 14px !default;

// Others
$validation-field-icon-z-index: 3 !default;
$validation-field-icon-top: 11px !default;
$validation-field-icon-right: 10px !default;
$validation-field-count-margin: -16px 0 16px 0 !default;

// React-select
$select-input-border-focus: $validation-field-focus;

@mixin validation-status($color, $border-color, $border-size) {

  // Input field inside validation-field
  input,
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  textarea,
  select {
    border: $border-size solid $border-color;

    &:focus {
      border: $border-size solid $validation-field-focus;
    }
  }

  // React-Select
  .Select-control {
    border: $border-size solid $border-color;
  }

  // Validity icon
  .validation-field__icon {
    color: $color;
  }

}

@mixin validation-error {
  @include validation-status($validation-field-error-color, $validation-field-error-border-color, $validation-field-error-border-size);

  // Exception for checkbox
  &.validation-field--checkbox {
    label, a {
      color: $validation-field-error-color;
    }
  }
}

@mixin validation-success {
  @include validation-status($validation-field-success-color, $validation-field-success-border-color, $validation-field-success-border-size);
}

.validation-field {
  &:after {
    visibility: hidden;
  }

  /**
   * States
   */

  &--error {
    @include validation-error()
  }

  &--success {
    @include validation-success()
  }

  &--date-picker:after {
    right: 52px; // Magic number to avoid icon overlapping on datepicker icon
  }

  &--with-icons {
    &:after {
      visibility: visible;
    }
    input, input[type="text"] {
      padding-right: 32px; // Magic number to give some space to validity icon
    }
  }

  // Exception for checkbox
  &--checkbox {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;

    input[type="checkbox"] {
      margin: 0 14px 0 0;
    }
  }

  /**
   * Sub components
   */

  // React-Select
  .Select-control input {
    border: 0;
    outline: none;
  }

  // Input-group-addon (datepicker)
  .input-group-addon {
    border-left: 0;
  }

  // Input wrapper used to display icon
  &__input-wrapper {
    position: relative;
  }

  // Validity icon
  &__icon {
    position: absolute;
    top: 50%;
    z-index: $validation-field-icon-z-index;
    transform: translateY(-50%);
    right: $validation-field-icon-right;
    font-size: $validation-field-icon-font-size;
  }

  // Error message (mobile/tablet only)
  &__error-message {
    margin: -3px 0 3px 0;
    font-size: 14px;
    color: $validation-field-error-color;
  }

  &__tooltip.__react_component_tooltip.type-dark {
    background-color: $validation-field-tooltip-bg-color;
    border-radius: 0;
    padding: 8px 12px;
    font-size: 14px;
    max-width: 300px;
    text-align: center;

    &.place-top:after {
      border-top-color: $validation-field-tooltip-bg-color;
    }
    &.show {
      opacity: 1;
    }
  }

  &__chars-left {
    font-size: $validation-field-count-font-size;
    margin: $validation-field-count-margin;
  }

}